<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ignis</title>
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon-32x32.png" type="image/png">
    <!-- loader-->
    <link href="assets/css/pace.min.css" rel="stylesheet">
    <script src="assets/js/pace.min.js"></script>

    <!--plugins-->
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/metismenu/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/metismenu/mm-vertical.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/simplebar/css/simplebar.css">
    <!--bootstrap css-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <!--main css-->
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/sass/main.css" rel="stylesheet">
    <link href="~/assets/css/horizontal-menu.css" rel="stylesheet">
    <link href="~/sass/dark-theme.css" rel="stylesheet">
    <link href="~/sass/blue-theme.css" rel="stylesheet">
    <link href="~/sass/semi-dark.css" rel="stylesheet">
    <link href="~/sass/bordered-theme.css" rel="stylesheet">
    <link href="~/sass/responsive.css" rel="stylesheet">
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
</head>
<body>
    <header class="top-header">
        <nav class="navbar navbar-expand align-items-center justify-content-between gap-4 border-bottom">
            <div class="logo-header d-none d-xl-flex align-items-center gap-2">
                <div class="logo-icon">
                    <img src="https://ignis-assets.us-southeast-1.linodeobjects.com/ignis-header-logo-01.svg" class="logo-img" width="175" alt="ignis">
                </div>
                <div class="logo-name">                    
                </div>
            </div>
            <ul class="navbar-nav gap-1 nav-right-links align-items-center">
                <li class="nav-item dropdown">
                    <a href="javascrpt:;" class="dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                        <img src="~/images/default_avatar.png" class="rounded-circle p-1 border" width="45" height="45" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-user dropdown-menu-end shadow">
                        <a class="dropdown-item  gap-2 py-2" href="javascript:;">
                            <div class="text-center">
                                <img src="~/images/default_avatar.png" class="rounded-circle p-1 shadow mb-3" width="90" height="90"
                                     alt="">
                                <h5 class="user-name mb-0 fw-bold">
                                    Hello, Ignis!
                                </h5>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="@Url.Action("Invitation","Settings")">
                            <i class="material-icons-outlined">person_outline</i>Invitation
                        </a>                        
                        <hr class="dropdown-divider">
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                            <i class="material-icons-outlined">power_settings_new</i>Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

    </header>
    <partial name="_LoginPartial" />

    <!--start main wrapper-->
    <main class="main-wrapper" style="margin-top:10px !important">
        <div class="main-content">
            @RenderBody()
        </div>
    </main>


    <!--start footer-->
    <footer class="page-footer">
        <p class="mb-0">Copyright © @DateTime.Now.Year. All right reserved.</p>
    </footer>
    <!--end footer-->
    <!--bootstrap js-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!--plugins-->
    <script src="~/assets/js/jquery.min.js"></script>
    <!--plugins-->
    <script src="https://code.highcharts.com/highcharts.js"></script>

    @* <script type="module" src="~/lib/Chart.js/chart.js"></script> *@
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/metismenu/metisMenu.min.js"></script>
@*     <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script> *@
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/select2/js/select2.min.js"></script>
    
        


    <script>
        $(".data-attributes span").peity("donut")
    </script>

    <script src="~/js/AjaxUtil.js"></script>
    @* <script src="~/assets/js/dashboard2.js"></script> *@
@*     <script src="~/assets/js/main.js"></script> *@


    <script>
        // default local dictionary
        var localstore = {
            'pause': {
                'firstStage':false,
                'secondStage':false,
                'pressure':false,
                'cooling':false
            },
            'play':{
                'firstStage':false,
                'secondStage':false,
                'pressure':false,
                'cooling':false
            },
            'timers':{
                'main':60000 // 60 seconds
            },
            'datasize':{
                'firstStage':{
                    'hours':2
                },
                'secondStage':{
                    'hours':2
                },
                'pressure':{
                    'hours':2
                },
                'cooling':{
                    'hours':2
                }
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
