<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ignis</title>
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon-32x32.png" type="image/png">
    <!-- loader-->
    <link href="assets/css/pace.min.css" rel="stylesheet">
    <script src="assets/js/pace.min.js"></script>

    <!--plugins-->
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/metismenu/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/metismenu/mm-vertical.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/simplebar/css/simplebar.css">
    <!--bootstrap css-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <!--main css-->
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/sass/main.css" rel="stylesheet">
    <link href="~/assets/css/horizontal-menu.css" rel="stylesheet">
    <link href="~/sass/dark-theme.css" rel="stylesheet">
    <link href="~/sass/blue-theme.css" rel="stylesheet">
    <link href="~/sass/semi-dark.css" rel="stylesheet">
    <link href="~/sass/bordered-theme.css" rel="stylesheet">
    <link href="~/sass/responsive.css" rel="stylesheet">
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
</head>
<body>
    <header class="top-header">
        <nav class="navbar navbar-expand align-items-center justify-content-between gap-4 border-bottom">
            <div class="logo-header d-none d-xl-flex align-items-center gap-2">
                <div class="logo-icon">
                    <img src="assets/images/logo-icon.png" class="logo-img" width="45" alt="">
                </div>
                <div class="logo-name">
                    <h5 class="mb-0">Ignis24</h5>
                </div>
            </div>
        </nav>

    </header>
    <partial name="_LoginPartial" />

    <!--start main wrapper-->
    <main class="main-wrapper" style="margin-top:90px !important">
        <div class="main-content">
            @RenderBody()
        </div>
    </main>


    <!--start footer-->
    <footer class="page-footer">
        <p class="mb-0">Copyright © @DateTime.Now.Year. All right reserved.</p>
    </footer>
    <!--end footer-->
    <!--bootstrap js-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!--plugins-->
    <script src="~/assets/js/jquery.min.js"></script>
    <!--plugins-->
    <script src="https://code.highcharts.com/highcharts.js"></script>

    @* <script type="module" src="~/lib/Chart.js/chart.js"></script> *@
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/metismenu/metisMenu.min.js"></script>
@*     <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script> *@
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/select2/js/select2.min.js"></script>
    
        


    <script>
        $(".data-attributes span").peity("donut")
    </script>

    <script src="~/js/AjaxUtil.js"></script>
    @* <script src="~/assets/js/dashboard2.js"></script> *@
@*     <script src="~/assets/js/main.js"></script> *@


    <script>
        // default local dictionary
        var localstore = {
            'pause': {
                'firstStage':false,
                'secondStage':false,
                'pressure':false,
                'cooling':false
            },
            'play':{
                'firstStage':true,
                'secondStage':true,
                'pressure':true,
                'cooling':true
            },
            'timers':{
                'main':60000 // 60 seconds
            },
            'datasize':{
                'firstStage':{
                    'hours':2
                },
                'secondStage':{
                    'hours':2
                },
                'pressure':{
                    'hours':2
                },
                'cooling':{
                    'hours':2
                }
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
