<!--Medium Modal-->
<div class="modal fade" id="modal_Medium" tabindex="-1" role="dialog" aria-labelledby="_modalMediumContent" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 py-2 bg-grd-warning">
                <h5 class="modal-title" id="modal_Medium_Title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="_modalMediumContent"></div>
            </div>
        </div>
    </div>
</div>
<!--Large Modal-->
<div class="modal fade" id="modal_Large" tabindex="-1" role="dialog" aria-labelledby="_modalLargeContent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 py-2 bg-grd-warning">
                <h5 class="modal-title" id="modal_Large_Title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="_modalLargeContent"></div>
            </div>
        </div>

    </div>
</div>

<!--Centerd Modal 500 pixel fixed width-->
<div id="modal_Small"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal_Center"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 py-2 bg-grd-warning">
                <h5 class="modal-title" id="modal_Small_Title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="_modalSmallContent"></div>
            </div>
        </div>


    </div>
</div>
